{% extends "base.html" %}
{% block content %}

<!-- Variable to inject data from json file.  -->
<!-- {{ company[0]["name"] }}  -->
<!-- [0] returns first element from string. Wrap name in string to get first element in list -->


<!-- {% for number in list_of_numbers %} use this format for logic rather than variables
<p>{{ number }}</p> send number variable to backend
{% endfor %} ends for loop -->


<h2>{{ page_title }}</h2>
    <p>The formation of the group grew out of a meeting Gandalf had with Thorin in Bree which kindled Thorin's interest
        in recapturing his long lost family inheritance. (Thorin's grandfather had been the King under the Mountain when
        Smaug came and took it.) Remembering that he had once known an adventurous Hobbit on his travels in the Shire,
        Gandalf decided to add Bilbo to their company because he knew that stealth and cunning were preferable to force.
        Gandalf also believed that someone like Bilbo could keep the sometimes prideful and stubborn Dwarves from rash
        action. The superstitious Dwarves also considered thirteen to be an unlucky number, and as Gandalf had planned
        to leave on other business, welcomed a fourteenth to fill into their party.</p>

{% for member in company %} <!-- Add for loop to iterate through data in json file -->

<!-- {{ loop.index }}  -->
<!-- Add this line so in html rendering can see which iteration is which with numbers-->

    <div class="row featurette">

    {% if loop.index %2 !=0 %} <!-- Add if statement -->
    <!-- if number in list is not even i.e. divisible by two then do something - display that member to the page -->

            <div class="col-md-7">
                <h3>{{ loop.index }}. {{ member.name }}</h3>
                    <p> {{ member.description }}</p>
            </div>
            <div class="col-md-5">
                <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
            </div>

    {% else %} <!-- Will display text on left if odd number -->
        <div class="col-md-5">
            <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
        </div>
        <div class="col-md-7">
            <h3>{{ loop.index }}. {{ member.name }}</h3>
                <p> {{ member.description }}</p>
        </div>

    {% endif %}
    </div>

    <hr class="featurette-divider">

    <!-- Highlight code and press tab to properly indent code -->

{% endfor %}

{% endblock %}